:host {
  --color-primary: #5C4896;
  --color-background-card: #F9F9F9;
  --color-text-primary: #393939;
  --color-text-secondary: #333333;
  --color-text-light: #B8B8B8;
  --color-text-label: #344054;
  --color-border: #D0D5DD;
  --color-border-separator: #DADADA;
  --color-border-stepper: #DBDBDB;
  --font-family-primary: 'Inter', sans-serif;
}

.payment-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  font-family: var(--font-family-primary);
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
  padding: 0 10px;
  gap:15px;
  .step-item {
    flex: 0.5;
    text-align: center;
    color: var(--color-text-light);
    padding-top: 10px;
    position: relative;

    .line {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-border-stepper);
    }

    .label-group {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1px;
    }

    .number {
      font-size: 12px;
      font-weight: 600;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: #F6F3FF;
      color: var(--color-text-light);
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .label-text {
      font-size: 12px;
      font-weight: 600;
    }

    &.active {
      color: var(--color-text-secondary);
      .line {
        background-color: var(--color-primary);
      }
      .number {
        color: var(--color-primary);
      }
    }
  }
}

.card {
  background: var(--color-background-card);
  border-radius: 6px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-header {
  h2 { font-size: 16px; font-weight: 600; color: var(--color-text-primary); margin: 0 0 10px 0; }
  p { font-size: 12px; color: var(--color-text-primary); margin: 0; }
}

.separator {
  border: none;
  height: 1px;
  background-color: var(--color-border-separator);
  margin: 0;
  &.short {
    margin: 0 auto;
    width: calc(100% - 200px);
  }
}

.form-section {
  display: flex;
  gap: 600px;
}

.form-section-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-secondary);
  margin: 0;
  padding-top: 5px;
  flex-basis: 154px;
  flex-shrink: 0;
}

.form-section-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  max-width: 650px;

  &.readonly-section {
    max-width: 100%;
    input {
      background-color: #f0f0f0;
      border-color: transparent;
    }
  }
}

.inputs-row {
  display: flex;
  gap: 24px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  &.full-width { max-width: 100%; }

  label {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-text-label);
  }

  input {
    box-sizing: border-box;
    height: 35px;
    padding: 10px 12px;
    background: #FFFFFF;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
  }
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  input { padding-right: 40px; }
  .icon-button {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border: none;
    background: #fdfdfd;
    padding: 0 8px;
    cursor: pointer;
    color: #666;
  }
}
.review-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-section-wrapper {
  display: flex;
  gap: 600px;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border-separator);
  align-items: flex-start;

  &:last-child {
    border-bottom: none;
  }
}

.review-section-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-secondary);
  margin: 0;
  flex-basis: 154px;
  flex-shrink: 0;
}

.review-section-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.content-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item-label {
  font-size: 14px;
  color: var(--color-text-secondary);
  font-weight: 600;
  flex-basis: 180px;
  flex-shrink: 0;
  text-align: left;
}

.item-value {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-secondary);
  text-align: right;
  flex: 1;

  &.money {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 16px;
  }
}

.values-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.value-box {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .item-label-valor {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-text-secondary);
  }
}

@media (max-width: 768px) {
  .stepper-container {
    gap: 16px;
    padding: 0;
  }

  /* CORREÇÃO: Altera a direção do flex para empilhar o conteúdo */
  .step-item .label-group {
    flex-direction: column;
    gap: 4px;
  }

  .inputs-row {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
    .step-item .label-text {
        font-size: 11px;
    }
    .card {
        padding: 24px 16px;
    }
}
