<app-header-title [headerInformation]="headerInformation"></app-header-title>
<div class="template-content">
  <app-wallet-sidebar></app-wallet-sidebar>
  <main class="send-pix-container">
    <section class="card form-card">
      <header class="card-header">
        <h2>Informações para envio</h2>
        <p>Complete as informações de acordo com a chave desejada</p>
      </header>
      <hr class="separator">
      <div class="form-section">
        <h3 class="form-section-title">Seus dados</h3>
        <div class="inputs-row">
          <div class="input-group">
            <label for="cliente">Cliente</label>
            <input id="cliente" type="text" value="123 Milhas - 26.669.170/0001-57" readonly>
          </div>
          <div class="input-group">
            <label for="carteira">Carteira</label>
            <input id="carteira" type="text" value="6671 - Padrão" readonly>
          </div>
        </div>
      </div>
      <hr class="separator">
      <div class="form-section form-section--column">
        <div class="title-and-inputs">
          <h3 class="form-section-title">Chave e valores</h3>
          <div class="inputs-row">
            <div class="input-group">
              <label for="chave-pix">Chave pix</label>
              <input id="chave-pix" type="text" placeholder="CNPJ, CPF" 
                    [(ngModel)]="transferData.chavePix" 
                    (ngModelChange)="onChavePixChange($event)">
            </div>
            <div class="input-group">
              <label for="valor">Valor</label>
              <input id="valor" type="number" placeholder="R$ 0,00" [(ngModel)]="transferData.valor">
            </div>
          </div>
        </div>
        @if (showAccountData) {
          <div class="account-data-wrapper">
            <div class="account-data-container">
              <div class="account-data-header">
                <h4 class="account-data-title">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                  Dados da conta:
                </h4>
                <span class="provider-tag">{{ accountData.provider }}</span>
              </div>
              <div class="account-data-details">
                <div class="details-column">
                  <div class="detail-item">
                    <span class="label">Nome:</span>
                    <span class="value">{{ accountData.name }}</span>
                  </div>
                  <div class="detail-item">
                    <span class="label">Chave:</span>
                    <span class="value">{{ accountData.key }}</span>
                  </div>
                </div>
                <div class="details-column">
                  <div class="detail-item">
                    <span class="label">CNPJ:</span>
                    <span class="value">{{ accountData.cnpj }}</span>
                  </div>
                  <div class="detail-item">
                    <span class="label">Tipo chave:</span>
                    <span class="value">{{ accountData.keyType }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </section>
  </main>
  @if (isModalVisible) {
    <div class="modal-overlay">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <h2>Confirma a transferência?</h2>
            <p>Esta transação não poderá ser desfeita, confira as informações.</p>
          </div>
          <button class="modal-close" (click)="closeConfirmationModal()">×</button>
        </div>
        
        <hr class="modal-divider">
        
        <div class="modal-body">
          <div class="transfer-details">
            <div class="detail-info">
              <div class="detail-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z"/></svg>
              </div>
              <div class="detail-text">
                <strong>{{ accountData.name }}</strong>
                <span>{{ accountData.key }}</span>
              </div>
            </div>
            <div class="detail-valor">
              <strong>{{ transferData.valor | currency:'BRL' }}</strong>
            </div>
          </div>
        </div>

        <div class="modal-actions">
          <button class="btn btn-cancel" (click)="closeConfirmationModal()">Cancelar</button>
          <button class="btn btn-confirm" (click)="confirmTransfer()">Confirmar</button>
        </div>
      </div>
    </div>
  }
</div>
@if (showAccountData) {
<app-footer-info
  [information]="footerInformation"
  [context]="footerContext"
  [label]="footerLabel"
  [confirmCancelLabel]="`Cancelar transação`"
  [confirmSubmitLabel]="sendLabel"
  (cancel)="onCancel()"
  (submit)="onSubmit()">
</app-footer-info>
}