<div class="page-header">
  <nav
    class="breadcrumb"
    *ngIf="headerInformation && headerInformation.breadcrumb.length > 0"
  >
    <a
      *ngFor="let item of headerInformation.breadcrumb; let last = last"
      [routerLink]="item.path"
      [class.active]="last"
      class="breadcrumb-item"
    >
      {{ item.label }}
      <span *ngIf="!last" class="separator">/</span>
    </a>
  </nav>

  <div class="header-content">
    <div class="header-info">
      <h1 class="page-title">{{ headerInformation.pageTitle }}</h1>
      <p
        class="page-subtitle"
        *ngIf="headerInformation && headerInformation.pageSubtitle"
      >
        {{ headerInformation.pageSubtitle }}
      </p>
    </div>
  </div>
</div>

<div class="main-content">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="pix-list-bg">
    <div class="pix-list-container">
      <div class="pix-list-select-row">
        <div class="pix-list-select-section">
          <span class="pix-list-select-title">Cliente</span>
          <select id="pix-client-select" class="pix-list-select">
            <option selected>123 Milhas</option>
          </select>
        </div>

        <div class="pix-list-client-info">
          <span class="pix-list-client-avatar">
            <img src="/img/house.svg" alt="Avatar" />
          </span>
          <div>
            <span class="pix-list-select-title">Cliente</span>
            <div class="pix-list-select-subtitle">123 milhas</div>
          </div>
        </div>
      </div>

      <div class="pix-list-results-section">
        <h2 class="pix-list-results-title">Resultado da pesquisa</h2>
        <div class="pix-list-results-info-row">
        <div class="pix-list-results-subtitle">
          Abaixo estão os resultados encontrados
        </div>
        <div class="pix-list-total">Total 3 Registros</div>
      </div>

        <table class="pix-list-results-table">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Tipo de chave</th>
              <th>Chave PIX</th>
              <th>Criado por</th>
              <th>Criado em</th>
              <th style="width: 50px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123 Milhas</td>
              <td>CPF</td>
              <td>123.456.789-00</td>
              <td>lucas_adm</td>
              <td>03h09 - 12/03/2024</td>
              <td>
                <span class="pix-list-trash-icon" title="Excluir">
                  <img src="/img/trash-2.svg" alt="Excluir" />
                </span>
              </td>
            </tr>
            <tr>
              <td>123 Milhas Filial</td>
              <td>CNPJ</td>
              <td>12.345.678/0001-99</td>
              <td>miguel_user</td>
              <td>03h09 - 12/03/2024</td>
              <td>
                <span class="pix-list-trash-icon" title="Excluir">
                  <img src="/img/trash-2.svg" alt="Excluir" />
                </span>
              </td>
            </tr>
            <tr>
              <td>Agência XPTO</td>
              <td>E-mail</td>
              <td>contato@empresa.com</td>
              <td>kelvyn_admin</td>
              <td>03h09 - 12/03/2024</td>
              <td>
                <span class="pix-list-trash-icon" title="Excluir">
                  <img src="/img/trash-2.svg" alt="Excluir" />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
