.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 320px);
  padding: 24px 0;
  background: #fff;
}

.pix-list-select-title {
  font-weight: 600;
  color: #444;
  font-size: 1rem;
}
.pix-list-select-subtitle {
  font-size: 0.85rem;
  color: #bbb;
  margin-top: 2px;
}
.pix-list-bg {
  background: #fff;
  width: 100%;
}

.pix-list-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pix-list-select-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fAFAFA;
  border-radius: 5px;
  padding: 12px 18px 12px 18px;
  margin-bottom: 18px;
  width: 40%;
}

.pix-list-select-row {
  display: flex;
  align-items: stretch; 
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 18px;
  width: 100%;
}

.pix-list-select-label {
  font-weight: 500;
  color: #444;
  font-size: 1rem;
  margin-right: 12px;
}
.pix-list-select {
  background: #FFF;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  padding: 8px 12px;
  min-width: 180px;
  width: 320px;
  box-sizing: border-box;
}

.pix-list-client-info {
  width: 60%;
  background: #fafafa;
  border-radius: 5px;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 86px;
}

/* Avatar dentro da box de info */
.pix-list-client-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  margin-right: 12px;
}

.pix-list-client-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 70%;
  object-fit: cover;
}

.pix-list-client-name {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 12px 18px;
  font-weight: 600;
  color: #444;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: left;
  width: 100%;
  height: 88px; 
  display: flex;
  align-items: center;
}

.pix-list-results-section {
  background: #FAFAFA;
  border-radius: 12px;
  box-shadow: none;
  border: none;
  padding: 32px;
}

.pix-list-results-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333;
}

.pix-list-results-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-top: -8px;
}

.pix-list-results-subtitle {
  font-size: 0.98rem;
  color: #888;
  margin-bottom: 18px;
  margin-top: -5px;
}

.pix-list-total {
  color: #222;
  font-size: 1rem;
  font-weight: 500;
  text-align: right; 
}
.pix-list-results-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 32px;
  border: 1px solid #ccc;
  border-radius: 14px;
  overflow: hidden;
}
.pix-list-results-table th {
  background:#FAFAFA;
  font-weight: 600;
  color: #555;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 12px 10px;
}
.pix-list-results-table th:first-child {
  border-top-left-radius: 14px;
}
.pix-list-results-table th:last-child {
  border-top-right-radius: 14px;
}
.pix-list-results-table tr:last-child td:first-child {
  border-bottom-left-radius: 14px;
}
.pix-list-results-table tr:last-child td:last-child {
  border-bottom-right-radius: 14px;
}
.pix-list-results-table td {
  background: #fff !important;
  border-bottom: 1px solid #ccc;
  padding: 12px 10px;
}
.pix-list-results-table tr:last-child td {
  border-bottom: none;
}

.pix-list-trash-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: #fff;
  color: #e53935;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s;
 
}
.pix-list-trash-icon:hover {
  background: #ffcdd2;
  color: #b71c1c;
}
