<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/users/edit" routerLinkActive="active" class="nav-link">
          <span>Editar</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/users/credentials" routerLinkActive="active" class="nav-link">
          <span>Credenciais</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-buttonrouterLink="/users/link-companies"  routerLinkActive="active" class="nav-link">
          <span>Vincular empresas</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLinkActive="active" class="nav-link">
          <span>Desativar</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/users/logs" routerLinkActive="active" class="nav-link">
          <span>Ver logs</span>
        </a>
      </li>
    </ul>
  </nav>
</div>