<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/wallets/list" routerLinkActive="active" class="nav-link">
          <span>Carteira</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/extract" routerLinkActive="active" class="nav-link">
          <span>Extrato</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/transfer" routerLinkActive="active" class="nav-link">
          <span>Transferência</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/transfer-wallet" routerLinkActive="active" class="nav-link">
          <span>Enviar transferência entre carteiras</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/new-item-wallet" routerLinkActive="active" class="nav-link">
          <span>Cadastrar item wallet</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/balance" routerLinkActive="active" class="nav-link">
          <span>Saldo das carteiras</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/deposit" routerLinkActive="active" class="nav-link">
          <span>Depósito em carteira</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/send-pix" routerLinkActive="active" class="nav-link">
          <span>Enviar PIX</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/wallets/payment" routerLinkActive="active" class="nav-link">
          <span>Pagamento</span>
        </a>
      </li>
    </ul>
  </nav>
</div>