<div class="modal-container">
    <!-- Header -->
    <div class="modal-header">
        <h2 class="modal-title">Configurar limite de valores para pagamento</h2>
        <p class="modal-subtitle">Texto complementar que vem abaixo</p>
        <button mat-icon-button class="close-button" (click)="fechar()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="lineSeparation"></div>


    <div class="pix-section">
        <!-- Empresa -->
        <div class="company-section">
            <div class="company-info">
                <div class="company-icon">🏢</div>
                <div>
                    <h3>Empresa</h3>
                    <p>123 Milhas</p>
                </div>
            </div>
        </div>
        <!-- Formulário -->
        <form class="limit-form" [formGroup]="form">
            <div class="form-row">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Horário início</mat-label>
                    <input matInput formControlName="horarioInicio" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Horário final</mat-label>
                    <input matInput formControlName="horarioFinal" />
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Quantidade limite diário</mat-label>
                    <input matInput type="number" formControlName="qtdLimiteDiario" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Valor limite diário</mat-label>
                    <input matInput type="number" formControlName="valorLimiteDiario" />
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Valor limite mensal</mat-label>
                    <input matInput type="number" formControlName="valorLimiteMensal" />
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-field">
                    <mat-label>Porcentagem limite carteira</mat-label>
                    <input matInput type="number" formControlName="percentualCarteira" />
                </mat-form-field>
            </div>


            <div class="form-actions removedborder">
                <button mat-stroked-button color="primary" (click)="incluir()" type="button">
                    Incluir
                </button>
            </div>
        </form>

        <!-- Lista -->
        <div class="tabela-container" *ngIf="paymentLimits().length; else emptyState">
            <table mat-table [dataSource]="paymentLimits()" class="mat-elevation-z1">
                <ng-container matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef>Criado em</th>
                    <td mat-cell *matCellDef="let item">{{ item.criadoEm }}</td>
                </ng-container>

                <ng-container matColumnDef="criadoPor">
                    <th mat-header-cell *matHeaderCellDef>Criado por</th>
                    <td mat-cell *matCellDef="let item">{{ item.criadoPor }}</td>
                </ng-container>

                <ng-container matColumnDef="evento">
                    <th mat-header-cell *matHeaderCellDef>Evento</th>
                    <td mat-cell *matCellDef="let item" class="evento">{{ item.evento }}</td>
                </ng-container>

                <ng-container matColumnDef="limiteDiario">
                    <th mat-header-cell *matHeaderCellDef>Limite diário</th>
                    <td mat-cell *matCellDef="let item">R$ {{ item.limiteDiario }}</td>
                </ng-container>

                <ng-container matColumnDef="limiteMensal">
                    <th mat-header-cell *matHeaderCellDef>Limite mensal</th>
                    <td mat-cell *matCellDef="let item">R$ {{ item.limiteMensal }}</td>
                </ng-container>

                <ng-container matColumnDef="percentual">
                    <th mat-header-cell *matHeaderCellDef>% limite</th>
                    <td mat-cell *matCellDef="let item">{{ item.percentual }}%</td>
                </ng-container>

                <ng-container matColumnDef="qtdLimiteDiario">
                    <th mat-header-cell *matHeaderCellDef>Qtd. limite diário</th>
                    <td mat-cell *matCellDef="let item">{{ item.qtdLimiteDiario }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <ng-template #emptyState>
            <div class="empty-state">
                <mat-icon color="warn">warning</mat-icon>
                <p>Nenhum limite de valores criado ainda</p>
                <span>Você pode incluir os limites digitando acima e depois ir em incluir.</span>
            </div>
        </ng-template>
    </div>

    <div class="lineSeparation"></div>

    <!-- Rodapé -->
    <div class="modal-footer">
        <button mat-raised-button color="primary" class="buttonConfirm" (click)="fechar()">Fechar</button>
    </div>
</div>