
<app-header-dashboard></app-header-dashboard>
<div class="dashboard-container">
  <section class="quick-actions">
    <h2>Pra você</h2>
    <div class="actions-grid">
      <button class="action-card">
        <img src="assets/images/pixIcone.png" alt="QR Code" class="icon-img" />
        <span>Pagar no PIX</span>
      </button>
      <button class="action-card" (click)="goToSolicitar()">
        <img src="assets\images\Vector.png" alt="seta" class="icon-img" />
        <span>Receber PIX</span>
      </button>
      <button class="action-card" (click)="goToEnviarPix()">
        <img src="assets/images/frame.png" alt="frame" class="icon-img" />
        <span>Enviar PIX</span>
      </button>
      <button class="action-card" (click)="goToPagarBoleto()">
        <img src="assets/images/file.png" alt="File" class="icon-img" />
        <span>Pagar boleto</span>
      </button>
      <button class="action-card" (click)="goToVerMais()">
          <img src="assets/images/setaHorizontal.png" alt="setaHorizontal" class="icon-img" />
        <span>Ver mais</span>
      </button>
    </div>
  </section>

  <div class="main-layout">
    <main class="main-content">
      <section class="transactions">
        <div class="transactions-header">
          <div>
            <h2>Últimas transações</h2>
            <p>Acompanhe as suas últimas movimentações.</p>
          </div>
                    <div class="filters">
            <button class="filter-btn" [class.active]="activeFilter === 'todos'" (click)="filterTransactions('todos')">Todos</button>
            <button class="filter-btn" [class.active]="activeFilter === 'entrada'" (click)="filterTransactions('entrada')">Cashin</button>
            <button class="filter-btn" [class.active]="activeFilter === 'saida'" (click)="filterTransactions('saida')">Cashout</button>
          </div>
        </div>
        <ul class="transactions-list">
          <li *ngFor="let transacao of filteredTransactions" class="transaction-item">
            <div class="agency-info">
              <div class="agency-logo">
                <img *ngIf="transacao.agenciaLogo" [src]="transacao.agenciaLogo" [alt]="transacao.agenciaNome">
                <span *ngIf="!transacao.agenciaLogo">{{ transacao.agenciaID }}</span>
              </div>
              <div>
                <span class="agency-name">{{ transacao.agenciaNome }}</span>
                <span class="transaction-date">{{ transacao.dataTransacao }}</span>
              </div>
            </div>
            <div class="transaction-details">
              <span class="transaction-value" [class.positive]="transacao.tipo === 'entrada'" [class.negative]="transacao.tipo === 'saida'">R$ {{ transacao.valorTransacao | number:'1.2-2' }}</span>
              <span class="transaction-status">{{ transacao.statusTransacao }}</span>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <aside class="sidebar">
      <div class="summary-card">
        <div class="summary-header">
          <h3>Resumo operacional</h3>
          <span>últimos 30 dias</span>
        </div>
        <div class="summary-stats">
          <div class="stat-item">
            <img src="assets/icons/duas_setinhas.svg" alt="Ícone de transações" class="stat-icon">
            <div class="stat-value-container">
              <span class="stat-value">{{ totalTransacoes }}</span>
              <span class="growth">↑ {{ percentualCrescimento }}%</span>
            </div>
            <span class="stat-label">Total de transações</span>
          </div>
          <div class="stat-item">
            <img src="assets/icons/carteira.svg" alt="Ícone de carteiras ativas" class="stat-icon">
            <span class="stat-value">{{ carteirasAtivas }}</span>
            <span class="stat-label">Carteiras ativas</span>
          </div>
          <div class="stat-item">
            <img src="assets/icons/lampada.svg" alt="Ícone de pagamentos atrasados" class="stat-icon">
            <span class="stat-value">{{ pagamentosAtrasados }}</span>
            <span class="stat-label">Pgt. atrasados</span>
          </div>
        </div>
      </div>
      <img src="/assets/images/banner_qr_code.svg" class="promo-banner" />
    </aside>
  </div>
</div>