
.auth-container {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100%;
  min-height: 100vh;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.auth-image-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  color: #ffffff;
  background-image: url('/assets/images/fundo_login.png');
  background-size: cover;
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.text-content {
  position: relative;
  z-index: 2;
  text-align: center;

  .logo {
    margin-bottom: 3.5rem;
    img {
      width: 94px;
      height: 38px;
    }
  }

  h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    max-width: 516px;
    margin: 0 auto 1.5rem auto;
  }

  p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.9;
    max-width: 391px;
    margin: 0 auto;
  }
}

.auth-form-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #ffffff;

  @media (max-width: 768px) {
    padding: 2.5rem 1.5rem;
  }
}