<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a mat-button routerLink="/administracao/bank-accounts" routerLinkActive="active" class="nav-link">
          <span>Banco</span>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/administracao/clients" routerLinkActive="active" class="nav-link">
          <span>Cliente</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a mat-button routerLink="/administracao/users" routerLinkActive="active" class="nav-link">
          <span>Usuário</span>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/administracao/pix/list" 
           [class.active]="isActiveRoute(['/administracao/pix/list', '/administracao/pix/new'])" 
           class="nav-link">
          <span>PIX</span>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/administracao/withdrawals" routerLinkActive="active" class="nav-link">
          <span>Aprovar saques</span>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/administracao/notifications" routerLinkActive="active" class="nav-link">
          <span>Notificação de solicitação</span>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/administracao/batch-bank" routerLinkActive="active" class="nav-link">
          <span>Alterar banco em lote</span>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button routerLink="/administracao/logs" routerLinkActive="active" class="nav-link">
          <span>Relatório de logs</span>
        </a>
      </li>
      
    </ul>
  </nav>
</div>