.admin-layout {
  display: flex;
  flex-direction: row;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 280px;
  background: #fff;
  border-right: 1px solid #fff;
}

.main-content {
  width: 100%;
  min-height: calc(100vh - 320px);
  padding: 24px;
  background: #fff;
}