<app-header-title [headerInformation]="headerInformation"></app-header-title>
<div class="template-content">
  <app-wallet-sidebar></app-wallet-sidebar>
  <div class="extract-container">
    <header class="filters">
      <div class="filter-group">
        <label for="startDate">Período</label>
        <app-custom-picker-date-range
          [showPresets]="true"
          placeholder="Selecione o período"
          [(ngModel)]="dateRange"
          (rangeChange)="onDateRangeChange($event)">
        </app-custom-picker-date-range>
      </div>
      <div class="filter-group">
        <label for="client">Cliente</label>
          <app-custom-select
            [options]="clients"
            [formControl]="clientControl">
          </app-custom-select>
      </div>
      <div class="filter-group">
        <label for="wallet">Carteira</label>
          <app-custom-select
            [options]="wallets"
            [formControl]="walletControl">
          </app-custom-select>
      </div>
    </header>

    <main class="results-card">
      <header class="card-header">
        <div class="card-title">
          <h2>Resultado da pesquisa</h2>
          <p>Abaixo estão os resultados encontrados</p>
        </div>
        <div class="card-total">
          Total {{ filteredTransactions.length }} registros
        </div>
      </header>

      <div class="transaction-list">
        @for (transaction of filteredTransactions; track transaction.id; let isLast = $last) {
          <div class="transaction-item">
            <div class="item-main">
              <div class="item-icon-details">
                <div class="item-icon">
                  <span class="material-symbols-outlined">arrow_outward</span>
                </div>
                <div class="item-details">
                  <span class="type">{{ transaction.type }}</span>
                  <span class="date">{{ transaction.date | date:'MMM dd, yyyy' }} • {{ transaction.date | date:"HH'h'mm" }}</span>
                </div>
              </div>

              <div class="item-amounts">
                <div class="amount-group">
                  <span class="label">Valor total</span>
                  <span class="value">{{ transaction.totalValue | currency:'BRL' }}</span>
                </div>
                <div class="amount-group">
                  <span class="label">Valor Taxa</span>
                  <span class="value">{{ transaction.taxValue | currency:'BRL' }}</span>
                </div>
                <div class="amount-group">
                  <span class="label">Valor Cliente</span>
                  <span class="value">{{ transaction.clientValue | currency:'BRL' }}</span>
                </div>
                <div class="amount-group">
                  <span class="label">Valor Comissão</span>
                  <span class="value">{{ transaction.commissionValue ? (transaction.commissionValue | currency:'BRL') : '-' }}</span>
                </div>
              </div>
              
              <div class="item-tags">
                <span class="tag" [ngClass]="{
                  'tag--credit': transaction.status === 'Crédito',
                  'tag--refund': transaction.status === 'Devolução'
                }">{{ transaction.status }}</span>
                <span class="tag tag--id">#{{ transaction.id }}</span>
              </div>
            </div>
            
            @if (!isLast) {
              <hr class="separator">
            }
          </div>
        }
      </div>
    </main>
  </div>
</div>