.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
}

.modal-content {
  padding: 16px 24px;
  min-width: 600px;
}

.modal-subtitle {
  margin-top: 0;
  color: #666;
  margin-bottom: 24px;
}

.company-section {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 24px;
}

.company-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.company-icon {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
}

.company-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.company-info p {
  margin: 4px 0 0;
  color: #666;
  font-size: 14px;
}

.boleto-section {
  margin-bottom: 24px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 4px 0;
  color: #333;
}

.section-subtitle {
  font-size: 14px;
  color: #666;
  margin: 0 0 16px 0;
}

.config-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.w-25 {
     width: 24%;
}

.w-50 {
   width: 50%;
}

.w-50-6 {
   width: calc(50% - 6px);
}

// Tabela de resumo
.summary-table {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 24px;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #f5f5f5;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 1px solid #E9EAEB;
}

.table-header > span{
    padding: 16px 16px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: white;
  border-bottom: 1px solid #E9EAEB;
}

.table-row > span{
    padding: 24px 16px;
}

.table-cell {
  padding: 12px 16px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  font-size: 14px;
  
  &:last-child {
    border-right: none;
  }
}

.table-header .table-cell {
  color: #333;
}

.table-row .table-cell {
  color: #666;
}

.modal-actions {
  padding: 16px 24px 24px;
  justify-content: flex-end;
  gap: 12px;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 1279px) {
  .modal-content {
    min-width: unset;
    width: 90vw;
  }

  .form-row {
    flex-direction: column;
  }
  
  .table-header,
  .table-row {
    grid-template-columns: 1fr;
  }
  
  .table-cell {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    
    &:last-child {
      border-bottom: none;
    }
  }
}

.titleModal {
  padding: 0;
}

.lineSeparation {
  border-bottom: 1px solid #ccc;
}

.buttonConfirm {
  background-color: #5C4896;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 99px;
}

.buttonCancel {
  border: 1px solid #D0D5DD;
  color: #414651 !important;
  font-weight: 500;
  font-size: 16px;
  border-radius: 99px;
}

.paddingLeft {
  padding: 0px 24px 0;
}

.form-actions{
    border: 0;
    padding: 0;
    margin: 0;
}

.buttonSave{
    color: #5C4896;
    border-color: #5C4896;
    border-radius: 99px;
}