<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a [routerLink]="`/administracao/clients/edit/${id}`" routerLinkActive="active" class="nav-link">
          <span>Dados</span>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="`/administracao/clients/notifications/${id}`" routerLinkActive="active" class="nav-link">
          <span>Notificações por webhook</span>
        </a>
      </li>
    </ul>
  </nav>
</div>