<app-header-title [headerInformation]="headerInformation"></app-header-title>
<div class="template-content">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="template-list-bg">
    <div class="template-list-container">
      <div class="template-list-filters-section">
        <div class="template-list-filters-row">
          <label class="filter-label">
            <app-custom-select
              [options]="empresas"
              [formControl]="empresaControl"
              label="Empresa"
              placeholder="Selecione uma empresa">
            </app-custom-select>
          </label>
          <label class="filter-label">
            <app-custom-select
              [options]="statusOptions"
              [formControl]="statusControl"
              label="Status"
              placeholder="Selecione um status">
            </app-custom-select>
          </label>
          <div class="filter-label">
            <app-custom-picker-date-range
              label="Período"
              [showPresets]="true"
              placeholder="Selecione o período"
              [(ngModel)]="dateRange"
              (rangeChange)="onDateRangeChange($event)">
            </app-custom-picker-date-range>
          </div>
        </div>
      </div>

      <div class="template-list-results-section">
        <h2 class="template-list-results-title">Resultado da pesquisa</h2>
        <div class="template-list-results-info-row">
          <div class="template-list-results-subtitle">Abaixo estão os resultados encontrados</div>
          <div class="template-list-results-total">Total {{ totalRegistros }} Registros</div>
        </div>
        <div class="table-container">
          <table class="template-list-results-table">
            <thead>
              <tr>
                <th>Solicitante / Valor</th>
                <th class="hide-mobile">Carteira</th>
                <th class="hide-mobile">Chave PIX</th>
                <th class="hide-mobile">Valor</th>
                <th class="hide-mobile">Data/hora</th>
                <th>Status</th>
                <th class="hide-mobile">Aprovador</th>
                <th class="actions-column"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let saque of saquesFiltrados">
                <td>
                  <div class="solicitante-info">
                    <span class="solicitante-nome">{{ saque.solicitante }}</span>
                    <span class="solicitante-usuario">({{ saque.usuarioSolicitante }})</span>
                  </div>
                </td>
                <td class="hide-mobile">{{ saque.carteira }}</td>
                <td class="hide-mobile">
                  <span class="chave-pix">{{ saque.chavePix }}</span>
                </td>
                <td class="hide-mobile valor-cell ">{{ formatarValor(saque.valor) }}</td>
                <td class="hide-mobile">{{ formatarDataHora(saque.dataHora) }}</td>
                <td>
                  <div [class]="getStatusClass(saque.status)">
                    <span class="status-icon"></span>
                    {{ saque.status }}
                  </div>
                </td>
                <td class="hide-mobile">{{ saque.aprovador }}</td>
                <td class="actions-cell" style="width: 80px;">
                  <div class="aprovador-status" *ngIf="saque.status === 'Pendente'">
                    <div>
                      <img src="assets/images/aprovar.png" alt="Aprovar" (click)="openApprovalModal(saque)">
                    </div>
                    <div>
                      <img src="assets/images/rejeitar.png" alt="Rejeitar" class="rejeitarAjsute"
                        (click)="onRejeitar(saque)">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
