<div class="modal-container">
  <!-- Header -->
  <div class="modal-header">
    <h2 mat-dialog-title>Alteração de senha</h2>
    <button mat-icon-button [mat-dialog-close]="false" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Subtitle -->
  <p class="modal-subtitle">Texto complementar que vem abaixo</p>
  <div class="lineSeparation"></div>

  <!-- User Info -->
  <div class="user-info" *ngIf="currentUser">
    <div class="user-info-content">
      <div class="user-avatar">
        <div class="avatar-circle">
          {{ getInitials(currentUser.name) }}
        </div>
      </div>
      <div class="user-details">
        <h3 class="user-name">{{ currentUser.name }}</h3>
        <p class="user-email">{{ currentUser.email }}</p>
      </div>
    </div>


    <div class="user-contact">
      <div class="contact-item">
        <span class="contact-label item1">Identificação</span>
        <span class="contact-value">{{ formatIdentification(currentUser.identification) }}</span>
      </div>
      <div class="contact-item ">
        <span class="contact-label item2">Telefone</span>
        <span class="contact-value">{{ formatPhone(currentUser.phone) }}</span>
      </div>
    </div>
  </div>

  <!-- Password Form -->
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nova senha</mat-label>
        <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"
          placeholder="********">
        <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
          <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Confirmar senha</mat-label>
        <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
          placeholder="********">
        <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="lineSeparation"></div>

    <!-- Action Buttons -->
    <div class="modal-actions">
      <button mat-button type="button" [mat-dialog-close]="false" [disabled]="isLoading" class="cancel-button">
        Cancelar
      </button>

      <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid || isLoading"
        class="save-button">
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
        <span *ngIf="!isLoading">Salvar</span>
      </button>
    </div>
  </form>
</div>